.ReactTable {
    font-size: 0.80em;
    height: 600px;
}

.ReactTable .rt-thead {
    overflow-y: scroll;
}

ul.compact {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 15px;
    padding-right: 0;
}

ul.compact li {
    margin-left: 0;
}